#footer-bg {
    top: auto;
    left:0;
    color: #544673;
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}