.background {
    background-color: rgb(146, 133, 175);
    height: 10vh;
    width: 100%;
    position: relative;
    top: 0;
    color: rgb(26, 20, 42);
}

.spacing-items {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

.welcome {
    display: none;
}

.logo {
    display: flex;
    margin-top: 1.5vh;
}

.logout {
    display: flex;
    height: 5vh;
    margin-top: 2.5vh;
}



**************************************************************



/* Style for tablets' screen */
@media only screen and (min-width: 425px) {
    .spacing-items {
        padding: 0 2vw;
    }
}

/* Style for computers' screen */
@media only screen and (min-width: 1024px) {
    .welcome {
        margin: -1.5vh 0 0 2vw;
        line-height: 10vh;
        display: flex;
        font-family: "Roboto Light", sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        color: rgb(139, 208, 183);
    }
}