.background-home {
    background-color: #d8d2ec;
    padding: 0 2vw;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    width: 45vw;
    display: flex;
}

/*  Card's size and placement */
.card {
    width: 25vw;
    margin: 2.5vh 0;
}

.create-input {
    margin: 2vh 5vw 5.8vh 5vw;
    width: 40vw;
}

.edit-input {
    margin: 2vh 5vw;
    width: 40vw;
}