#card-background {
    background-image: url("../assets/img/background-card.jpg");
    color: #F2F2F2;
    position: relative;
}

#desc {
    color:#544673;
    background-color: rgba(194, 175, 241, 0.7);
}

.potion-type {
    position: relative;
    float: right;
    margin-top: -2vh;
}

h4 {
    color: #3BD99F;
    margin:0;
}

.card-size {
    position: relative;
}

.resize {
    margin-top: -4.5vh;
    color: #7aea1e;
}