#card-background {
    background-image: url("../assets/img/background-card.jpg");
    color: #F2F2F2;
    position: relative;
}

#desc {
    color:#544673;
    background-color: rgba(194, 175, 241, 0.7);
}

.desc-overflow {
    height: 13vh;
    overflow: auto;
}

#buttons {
    background-color: rgba(194, 175, 241, 0.7);
    justify-content: right;
}

.potion-type {
    position: relative;
    float: right;
    margin: -2vh 0 2vh 0;
    width: 3vw;
}

h4 {
    color: #3BD99F;
    margin:0;
    padding-bottom: 2vh;
    height: 7vh;
}

.card-size {
    position: relative;
}

.resize {
    display: flex;
    position: absolute;
    margin: -5vh 0 0 -2vw;
    color: #7aea1e;
    justify-content: right;
    width: 100%;
}