/* page structure */
.row {
    background-image: url("../assets/img/login-background.jpg");
    background-repeat: repeat;
    display: flex;
    width: 100%;
    height: 100vh;
}

.col {
    width: 50%;
}

#right-col {
    float: left;
    display: flex;
    justify-items: center;
    align-items: center;
}

/* left column design */
.title {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 30vh;
    width: 30vh;
    background-image: url("../assets/img/cauldron.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation:shake 10s ease-in-out 0s infinite normal;
}

/* right column design */
.login-box {
    display: flex;
    border-radius: 7px;
    filter: drop-shadow(0 0 2em rgba(31, 16, 65, 1));
    flex-direction: column;
    background-color: #544673;
    height: 70vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-bg {
    background-color: rgba(202, 173, 255, 0.74);
    border-radius: 5px;
    margin: 5vh 0;
}

.error {
    color: red;
}



***************************************************************



/* Style for computers' screen */
@media screen and (min-width: 1024px) {
    .row {
        background-image: url("../assets/img/login-background.jpg");
        background-repeat: repeat;
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .col {
        width: 50%;
    }

    #right-col {
        float: left;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .title {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 30vh;
        width: 30vh;
        background-image: url("../assets/img/cauldron.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation:shake 10s ease-in-out 0s infinite normal;
    }

    .login-box {
        display: flex;
        border-radius: 7px;
        filter: drop-shadow(0 0 2em rgba(31, 16, 65, 1));
        flex-direction: column;
        background-color: #544673;
        height: 70vh;
        width: 30vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}



***************************************************************



/* animation for the shaking cauldron */
@-webkit-keyframes shake {
    0%{ transform: rotate(-15deg) }
    4%{ transform: rotate(15deg) }
    4%{ transform: rotate(-18deg) }
    6%{ transform: rotate(18deg) }
    8%{ transform: rotate(-22deg) }
    10%{ transform: rotate(22deg) }
    12%{ transform: rotate(-18deg) }
    14%{ transform: rotate(18deg) }
    16%{ transform: rotate(-12deg) }
    18%{ transform: rotate(-12deg) }
    20%{ transform: rotate(0deg) }
}

@keyframes shake {
    0%{ transform: rotate(-15deg); -ms-transform: rotate(-15deg); }
    2%{ transform: rotate(15deg); -ms-transform: rotate(15deg); }
    4%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
    6%{ transform: rotate(18deg); -ms-transform: rotate(18deg); }
    8%{ transform: rotate(-22deg); -ms-transform: rotate(-22deg); }
    10%{ transform: rotate(22deg); -ms-transform: rotate(22deg); }
    12%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
    14%{ transform: rotate(18deg); -ms-transform: rotate(-18deg); }
    16%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
    18%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
    20%{ transform: rotate(0deg); -ms-transform: rotate(0deg); }
}